<div class="navbar-form">
  <div class="form-group">
    <input placeholder="Page No" [(ngModel)]="pageNum" />
  </div>
  <div class="form-group">
    <input placeholder="Name" [(ngModel)]="name" />
  </div>
</div>

<ul class="navbar-nav" id="row">
  <li><a [routerLink]="['home']">Home</a></li>
  <li class="nav">
    <a [routerLink]="['product']" [queryParams]="{ pageNum, name }">Product</a>
  </li>
  <li><a [routerLink]="['contact']">Contact us</a></li>
</ul>

<div class="outlet">
  <router-outlet></router-outlet>
</div>
