<ul style="text-align: center">
  <li><a [routerLink]="['home']" routerLinkActive="active">Home</a></li>
  <li>
    <a [routerLink]="['contact']" routerLinkActive="active">Contact us</a>
  </li>
  <li class="nav">
    <a
      [routerLink]="['product']"
      [queryParams]="{ page: pageNum, name }"
      routerLinkActive="active"
    >
      Product
    </a>
  </li>
</ul>

<hr />
<div style="text-align: center">
  <input placeholder="Page No" [(ngModel)]="pageNum" />
  <input placeholder="Name" [(ngModel)]="name" />
</div>

<hr />
<div class="outlet" style="text-align: center">
  <router-outlet></router-outlet>
</div>
