:root {
  --primary-color: #0275d8;
  --info-color: #5bc0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
}

/*Mobile screen */
.container {
  background-color: white;
  width: 80%;
}

.signup-container {
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

input:not(:first-child) {
  margin-top: 1rem;
}

.input {
  outline: none;
  border: solid 2px rgb(221, 221, 221);
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1em;
}

.input-password-container {
  margin-top: 1rem;
}

.input:focus {
  box-shadow: 0px 0px 15px -2px var(--primary-color);
}

.term-condition-container {
  margin-top: 1rem;
}

.term-condition-container .text-container {
  margin-top: 0.5rem;
}

.blue-box-text {
  background-color: var(--primary-color);
  color: white;
  padding: 0.1rem 0.6rem;
  border-radius: 5px;
  border: none;
}

.blue-text {
  color: var(--info-color);
}

.btn-group {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-group button:not(:first-child) {
  margin-top: 1rem;
}

.btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  font-size: 1em;
  letter-spacing: 0.5px;
}

.btn-register {
  background-color: var(--primary-color);
}

.btn-sign-in {
  background-color: #5cb85c;
}

/*Desktop, Tablet screen*/
@media only screen and (min-width: 600px) {
  .container {
    width: 50%;
  }

  .input-password-container,
  .input-name-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  input:not(:first-child) {
    margin-top: 0;
  }

  .input-password-container input,
  .input-name-container input {
    width: 47%;
  }

  .input[type="number"],
  .input[type="email"] {
    margin-top: 1rem;
    width: 100%;
  }

  .term-condition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkbox-container {
    width: 20%;
  }

  .text-container {
    width: 78%;
  }

  .btn-group {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-group button:not(:first-child) {
    margin-top: 0;
  }

  .btn {
    width: 47%;
  }
}
