<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="">Username</label>
              <input [(ngModel)]= "loginUserData.email" name="email" type="text" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input [(ngModel)]= "loginUserData.password"  name="password" type="password"  class="form-control rounded-0"  required>
            </div>
            <button class="button button1" (click)="loginUser()">Login As User</button>
            <button class="button button2" (click)="loginAdmin()">Login As Admin</button>
          </form>
        </div>
      </div>
    </div>
  </div>