<div class="container  text-center mt-5 mb-5">
    <button class="button button4" (click)="changeText()">{{btnVal1}}</button>
  </div>
  <div class="container  text-center mt-5 mb-5">
    <button class="button button4" (click)="changeText()">{{btnVal2}}</button>
  </div>
  <div class="container  text-center mt-5 mb-5">
    <button class="button button4" (click)="changeText()">{{btnVal3}}</button>
  </div>
  <div class="container  text-center mt-5 mb-5">
    <button class="button button4"(click)="changeText()">{{btnVal4}}</button>
  </div>
  <div class="container  text-center mt-5 mb-5">
    <button class="button button4"(click)="changeText()">{{btnVal5}}</button>
  </div>
  <div class="container  text-center mt-5 mb-5">
    <button class="button button3" (click)="changeText()">{{btnVal6}}</button>
  </div>

  <div class="container  text-center mt-5 mb-5">
    <button class="btn btn-primary float-right" (click)="start()">Click Me to Generate Lottery ticket Number</button>
  </div>