<div class="head-container">
  <h1 [style.color] = "color">{{ title }}</h1>
</div>
<div class="body-container">
  <div class="body-sub" [style.border] = "isSolid" 
  [style.border-color] = "bColor1" 
  [style.border-radius] = "radius">
    <app-news1 (btnClick)="titleColorChange1()"></app-news1>
  </div>
  <div class="body-sub" [style.border] = "isSolid" 
  [style.border-color] = "bColor2" 
  [style.border-radius] = "radius">
    <app-news2 (btnClick)="titleColorChange2()"></app-news2>
  </div>
  <div class="body-sub" [style.border] = "isSolid" 
  [style.border-color] = "bColor3" 
  [style.border-radius] = "radius">
    <app-news3 (btnClick)="titleColorChange3()"></app-news3>
  </div>
  <div class="body-sub" [style.border] = "isSolid" 
  [style.border-color] = "bColor4" 
  [style.border-radius] = "radius">
    <app-news4 (btnClick)="titleColorChange4()"></app-news4>
  </div>
</div>