.head-container {
    font-size: 1.5em;
}

.body-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1em;
}


.btn1{
    background-color: blue;
    color: white;
    font-size: 1.5rem;
}
.btn2{
    background-color:  black;
    color: white;
    font-size: 1.5rem;
}
.btn3{
    background-color: green;
    color: white;
    font-size: 1.5rem;
}
.btn4{
    background-color: red;
    color: white;
    font-size: 1.5rem;
}
