h1 {
  text-align: center;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
