<header>
  <h2 [ngClass]='[titleStyle]'>{{ title }}</h2>
</header>

<div class='container'>
    <app-cards class='default' text='Set Blue' color='blue' (btnClick)='toggle($event)'></app-cards>
    <!-- <app-button id='blueBtn' text='Set Blue' color='blue' (btnClick)='toggle($event)'></app-button> --> 
    <app-cards class='default' text='Set Black' color='black' (btnClick)='toggle($event)'></app-cards>
    <!-- <app-button id='blackBtn' text='Set Black' color='black' (btnClick)='toggle($event)'></app-button> -->
    <app-cards class='default' text='Set Red' color='red' (btnClick)='toggle($event)'></app-cards>
    <!-- <app-button id='redBtn' text='Set Red' color='red' (btnClick)='toggle($event)'></app-button> -->
    <app-cards class='default' text='Set Green' color='green' (btnClick)='toggle($event)'></app-cards>
    <!-- <app-button id='greenBtn' text='Set Green' color='green' (btnClick)='toggle($event)'></app-button> -->
</div>
