<h1 *ngIf="bluecolor==1" style="color:blue;">{{title}}</h1>
<h1 *ngIf="blackcolor==1" style="color:black;">{{title}}</h1>
<h1 *ngIf="redcolor==1" style="color:red;">{{title}}</h1>
<h1 *ngIf="greencolor==1" style="color:green;">{{title}}</h1>

<div class="flex">
<p>
  The Moon is a barren, rocky world without air and water. It has dark lava plain on its surface. The Moon is filled wit craters.
   It has no light of its own. It gets its light from the Sun. The Moo keeps changing its shape as it moves round the Earth.
    It spins on its axis in 27.3 days stars were named after the Edwin Aldrin were the first ones to set their foot on the Moon
     on 21 July 1969 They reached the Moon in their space craft named Apollo II.  <br>
  <br>
  <br>
  <br>
  <button class="button button2"(click)="getBlue()">Click me</button> 
</p>
<p>
  The Moon is a barren, rocky world without air and water. It has dark lava plain on its surface. The Moon is filled wit craters.
   It has no light of its own. It gets its light from the Sun. The Moo keeps changing its shape as it moves round the Earth.
    It spins on its axis in 27.3 days stars were named after the Edwin Aldrin were the first ones to set their foot on the Moon
     on 21 July 1969 They reached the Moon in their space craft named Apollo II.
  <br>
  <br>
  <br>
  <br><button class="button button3"(click)="getBlack()">Click me</button>
</p>

</div>

<div class="flex">
  <p>
    The Moon is a barren, rocky world without air and water. It has dark lava plain on its surface. The Moon is filled wit craters.
     It has no light of its own. It gets its light from the Sun. The Moo keeps changing its shape as it moves round the Earth.
      It spins on its axis in 27.3 days stars were named after the Edwin Aldrin were the first ones to set their foot on the Moon
       on 21 July 1969 They reached the Moon in their space craft named Apollo II.  <br>
    <br>
    <br>
    <br>
    <button class="button button4"(click)="getRed()">Click me</button> 
  </p>
  <p>
    The Moon is a barren, rocky world without air and water. It has dark lava plain on its surface. The Moon is filled wit craters.
     It has no light of its own. It gets its light from the Sun. The Moo keeps changing its shape as it moves round the Earth.
      It spins on its axis in 27.3 days stars were named after the Edwin Aldrin were the first ones to set their foot on the Moon
       on 21 July 1969 They reached the Moon in their space craft named Apollo II.
    <br>
    <br>
    <br>
    <br><button class="button button5"(click)="getGreen()">Click me</button>
  </p>
  
</div>