<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h1 class="mb-0">After you enter Your ID</h1>
          <h1 class="mb-0">Enter the Username and Password you wise to Update</h1>
          <h1 class="mb-0">To delete Your account Click Delete</h1>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="">ID to be update</label>
              <input [(ngModel)]= "updateUserID" name="updateUserID" type="text" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input [(ngModel)]= "updateUserData.email" name="email" type="text" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input [(ngModel)]= "updateUserData.password"  name="password" type="password"  class="form-control rounded-0"  required>
              </div>

            <button type="button" (click)="updateUser()" class="btn btn-primary float-right">Update</button>
            <button class="button button3" (click)="DeleteUser(updateUserID)">Delete User</button>
          </form>
        </div>
      </div>
    </div>
  </div>