<header class="todolist__header">todo list</header>
<input 
class="todolist__input" 
[(ngModel)]="inputval" 
(keyup.enter)="addtodo()"
/>
<ul id="todolist__container">
  <app-todo-list-item
    class="todo_item"
    *ngFor="let todo of todolist"
    [todo]="todo"
    (deletedTodoId)="deletetodo($event)"
  ></app-todo-list-item>
  <!-- $event is from eventemitter, holding the data from the child -->
  <!-- <div>{{num}}</div> -->
  
  
  <!-- <button (click)="toggle()">Toggle</button>

  <p
    [ngClass]="{
      redbox: controlclass,
      bluebox: !controlclass
    }"
  ></p>  -->
</ul>