<header><h2 [ngStyle]="{color: titleColor}">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2></header>
<div class="container">
  <app-context-container 
    *ngFor="let context of contextsInfo"
    [context]="context"
    [ngStyle]="{
      border:
        titleColor === context.color
          ? '2px solid ' + context.color
          : '2px solid transparent',
      'border-radius': '10px',
      'box-shadow': titleColor === context.color ? '5px 5px 2px ' + context.color : ''
    }"
    (getColor)="getTitleColor($event)"
  >
  </app-context-container>
</div>
