.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.content {
  padding: 30px;
}

header {
  padding: 40px 0 10px;
  width: 100%;
  text-align: center;
}
