header {
    position: relative;
    width: 70%;
    left: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height:10%;
}
content {
    position: relative;
    left: 15%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}
.card {
    border: 1px solid gray;
    width: 450px;
    height: 200px;
    margin-top: 30px;
}
.card > .subtitle {
    padding-left: 20px;
    padding-top: 20px;
    font-size: small;
    color: green;
}
.card > .title {
    padding-left: 20px;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}
.card > .date {
    font-size: small;
    padding-left: 20px;
    color: grey;
}
.card > .maincontent {
    padding-left: 20px;
    padding-top: 5px;
}
.card > .mainlink {
    padding-left: 20px;
    padding-top: 40px;
}
footer {
    top: 20px;
    position: relative;
    left: 15%;
    height: 40%;
    width: 70%;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
footer > div{
    padding-top: 30px;
}