footer {
    background-color: rgb(255, 204, 0);
    width: 100%;
    min-height: 10%;
    margin-top: auto;
}

.contact {
    
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 700px) {
    .contact {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3%;
    }
}